In [3]:
import numpy as np
import pandas as pd

#label array
labels = ['a', 'b', 'c']

#list array
my_list = [10,20,30]

#Dictionary
arr = np.array([10,20,30])
d = {'a':10, 'b':20, 'c':30}
a = pd.Series(d)
a['a']
a['c']

30

In [4]:
pd.Series(data = my_list)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(index=labels, data = my_list)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(labels, my_list)

10    a
20    b
30    c
dtype: object

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [8]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

# Data in Series
## A pandas series can hold a variety of object types

In [10]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [11]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

# Using an index

In [12]:
ser1  = pd.Series([1,2,3,4], index = ['India', 'China', 'America', 'Brazil'])
ser1

India      1
China      2
America    3
Brazil     4
dtype: int64

In [13]:
ser2 = pd.Series([1,2,3,4], index = ['India', 'Israel', 'America', 'Bhutan'])
ser2

India      1
Israel     2
America    3
Bhutan     4
dtype: int64

In [14]:
ser1 + ser2

America    6.0
Bhutan     NaN
Brazil     NaN
China      NaN
India      2.0
Israel     NaN
dtype: float64

In [20]:
import pandas as pd
import numpy as np

from numpy.random import randn
np.random.seed(101)

pd.DataFrame?
df = pd.DataFrame(randn(5,4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [21]:
print(type(df))
print(type(df['W']))
print(df['W']['A'])

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
2.706849839399938

# Selection & Indexing

In [22]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [23]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [25]:
df[['W', 'Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [27]:
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [28]:
df.drop['new', axis=1]

SyntaxError: invalid syntax (<ipython-input-28-3bd95d3986b8>, line 1)

In [29]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [42]:
df.drop{new, axis=1,inplace=True}
df

SyntaxError: invalid syntax (<ipython-input-42-55f5795a6768>, line 1)

In [34]:
df.drop('new', axis=1,inplace=True)
df

KeyError: "['new'] not found in axis"

In [36]:
df.drop('E', axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [43]:
df.drop('new', axis=1, inplace=1)

ValueError: For argument "inplace" expected type bool, received type int.

In [41]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [44]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [45]:
df.loc['B', 'Y']

-0.8480769834036315

## Conditional Selection

In [46]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [47]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [48]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [ ]:
pl